@import "tailwindcss";

:root {
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-heading: 'Poppins', system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
}

a.active div{
  color:#22D3EE;
  background-color: rgb(30, 29, 29);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}