# Node modules
node_modules/

# Environment files
.env
.env.local
.env.development
.env.production

# Client env (future-proof)
client/.env
client/.env.*

# Server env
server/.env
server/.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build folders
dist/
build/
